<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="directxtk_desktop_2019" version="2023.4.28.1" targetFramework="native" />
  <package id="Microsoft.googletest.v140.windesktop.msvcstl.static.rt-dyn" version="1.8.1.7" targetFramework="native" />
  <package id="Microsoft.XAudio2.Redist" version="1.2.11" targetFramework="native" />
</packages>